// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
// Example Usage: @media($bp-smaller-than-tablet) { ... }
$bp-larger-than-mobile    : "min-width: 480px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

$bp-smaller-than-desktop : "max-width: 1060px" !default;
$bp-smaller-than-tablet : "max-width: 750px" !default;
$bp-smaller-than-mobile : "max-width: 480px" !default;
$bp-smaller-than-phablet   : "max-width: 550px" !default;

// Colors
$red: #a81704 !default;
$red-rgba: rgba(168,23,4,0.5) !default;
$deepblue: #1C1950 !default;
$blue: #4472C4 !default;
$blue-rgba: rgba(68,114,196,0.5) !default;
$lightgrey: #C7C8CA !default;
$grey: #9b9b9b !default;
$deepred: #630909 !default;
$white: #FFFFFF !default;
$black: #000000 !default;


//Fonts
$proxima: "proxima-nova",sans-serif;


// Misc
//$global-radius: 4px !default;
$padding: 80px !default;
