footer{
   clear: both;
   // background-color: $deepblue;
   color: $white;
   // padding: 2rem;
   p{
      margin: 0px;
   }
}

.sub-footer{
   background-color: $deepblue;
   padding: 20px 0;
}

.footer-left{
   text-align: left;
   a{
      color: $white;
      text-decoration: underline;
      &:hover{
         text-decoration: none;
      }
   }
   .copyright{
      color: $lightgrey;
      font-size: 12px;
   }
   @media screen and (max-width: 960px){
      text-align: center;
   }
}

.footer-right{
   text-align: right;
   svg{
      height: 24px;
      margin-left: 20px;
      path{
         transition: fill 0.2s ease-in-out;
      }
      @media screen and (max-width: 960px){
         margin-left: 10px;
         margin-right: 10px;
      }
      &:hover{
         path{
            fill: $red;
         }
      }
   }
   p{
      a{
         color: $blue;
      }
   }
   @media screen and (max-width: 960px){
      text-align: center;
   }
}

.socials{
   margin: 10px 0;
}

.text-panel{
   &.bg-image-blue{
      background-color: $blue-rgba;
      background-blend-mode: multiply;
      color: $white;
      h3{
         font-size: 6.4rem;
         @media screen and ($bp-smaller-than-tablet){
            font-size: 3.6rem;
         }
      }
      p{
         font-size: 24px;
         font-weight: 500;
      }
   }
}
