.main-navigation{
   // position: absolute;
   width: 100%;
   margin-bottom: 40px;
   text-align: center;
   z-index: 2;
   @media screen and (max-width: 960px){
      margin-bottom: 0;
   }
   &.open{
      ul{
         height: auto;
         li{
            height: auto;
            margin: 10px 0;
            a{
               height: 44px;
               visibility: visible;
            }
         }
      }
   }
   ul{
      display: inline-block;
      list-style-type: none;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      li{
         display: inline-block;
         color: $white;
         margin: 0 20px;
         // transition: all 0.25s ease-in-out;
         @media screen and (max-width: 960px){
            display: block;
            width: 100%;
            margin: 0;
         }
         // @media screen and ($bp-smaller-than-mobile){
         //    width: 100%;
         //    display: block;
         // }
         a{
            color: $white;
            font-weight: 700;
            text-transform: uppercase;
            &:hover{
               text-decoration: none;
               opacity: 0.8;
            }
            &:active{
               text-decoration: underline;
            }
            @media screen and (max-width: 960px){
               height: 0px;
               visibility: hidden;
               line-height: 44px;
               display: block;
            }
         }
      }
   }
}

#menuButton{
   display: none;
   height: 44px;
   line-height: 44px;
   color: $white;
   font-size: 2.4rem;
   z-index: 1;
   font-weight: 700;
   border-bottom: 2px solid $lightgrey;
   text-align: center;
   @media screen and (max-width: 960px){
      display: block;
   }
}
