.main-navigation{
   // position: absolute;
   width: 100%;
   margin-bottom: 40px;
   text-align: center;
   z-index: 2;
   @media screen and (max-width: 960px){
      top: 44px;
   }
   ul{
      display: inline-block;
      list-style-type: none;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      li{
         display: inline-block;
         color: $white;
         margin: 0 20px;
         // &:nth-of-type(2){
         //    margin-right: 12%;
         //    @media screen and ($bp-larger-than-desktophd){
         //       margin-right: 170px;
         //    }
         //    @media screen and ($bp-smaller-than-tablet){
         //       margin-right: 20px;
         //    }
         // }
         // &:nth-of-type(3){
         //    margin-left: 12%;
         //    @media screen and ($bp-larger-than-desktophd){
         //       margin-left: 170px;
         //    }
         //    @media screen and ($bp-smaller-than-tablet){
         //       margin-left: 20px;
         //    }
         // }
         @media screen and ($bp-smaller-than-mobile){
            margin: 20px 0;
            width: 100%;
            display: block;
            // &:nth-of-type(2){
            //    margin-right: auto;
            // }
            // &:nth-of-type(3){
            //    margin-left: auto;
            // }
         }
         a{
            color: $white;
            font-weight: 700;
            text-transform: uppercase;
            transition: opacity 0.2s ease-in-out;
            &:hover{
               text-decoration: none;
               opacity: 0.8;
            }
         }
      }
   }
}

#menuButton{
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   height: 44px;
   line-height: 44px;
   color: $white;
   font-size: 2.4rem;
   z-index: 1;
   font-weight: 700;
   border-bottom: 0.5px solid $lightgrey;
   text-align: center;
   @media screen and (max-width: 960px){
      display: block;
   }
}
