//Homepage Hero
.hero{
   color: $white;
   text-align: center;
   background-color: $red-rgba;
   overflow: hidden;
   position: relative;
   padding: 8rem;
   // overflow: hidden;
   // .hero-filter{
   //    position: absolute;
   //    top: 0;
   //    bottom: 0;
   //    left: 0;
   //    right: 0;
   // }
}

.bg-image{
   position: absolute;
   z-index: -1;
   background-image: url(img/621903024.jpg);
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   filter: grayscale(1);
}

svg.main-logo{
   height: 215px;
   // path{
   //    fill: $white;
   // }
}

svg.scroll-cta{
   width: 44px;
}
//Homepage hero

//Text Panel
.text-panel{
   padding: 8rem;
   position: relative;
   &.white{
      background-color: $white;
      color: $grey;
      h1,h2,h3,h4,h5,h6{
         color: $deepblue;
      }
   }
   &.blue{
      background-color: $blue;
      color: $white;
   }
   &.bg-image-blue{
      background-color: $blue-rgba;
      color: $white;
      h3{
         font-size: 6.4rem;
      }
      p{
         font-size: 24px;
         font-weight: 500;
         font-weight: 700;
      }
   }
}

.centered-heading{
   text-align: center;
}
//Text Panel
