//Homepage Hero
.hero{
   color: $white;
   text-align: center;
   background-color: $red-rgba;
   overflow: hidden;
   position: relative;
   padding: 40px 80px 20px 80px;
   // overflow: hidden;
   // .hero-filter{
   //    position: absolute;
   //    top: 0;
   //    bottom: 0;
   //    left: 0;
   //    right: 0;
   // }
   h3{
      margin: 4rem 0;
   }
   // @media screen and ($bp-smaller-than-desktop){
   //    padding: 80px 40px 20px 40px;
   // }
   &.interior{
      background-color: $red-rgba;
      padding: 40px 80px 20px 80px;
      h2{
         font-size: 4.6rem;
         margin: 2rem;
      }
      svg.main-logo{
         height: 100px;
      }
   }
   // @media screen and ($bp-smaller-than-mobile){
   // }
}

.bg-image{
   position: absolute;
   z-index: -1;
   // background-image: url(img/621903024.jpg);
   background-size: cover;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   filter: grayscale(1);
}

svg.main-logo{
   height: 215px;
   @media screen and ($bp-smaller-than-mobile){
      height: 170px;
      margin-top: 140px;
   }
}

svg.scroll-cta{
   width: 36px;
}
//Homepage hero

//Text Panel
.text-panel{
   padding: 8rem;
   position: relative;
   @media screen and ($bp-smaller-than-desktop){
      padding: 6rem;
   }
   @media screen and ($bp-smaller-than-mobile){
      padding: 4rem;
   }
   &.white{
      background-color: $white;
      color: $grey;
      h1,h2,h3,h4,h5,h6{
         color: $deepblue;
         margin-bottom: 0;
      }
   }
   &.blue{
      background-color: $blue;
      color: $white;
   }
   &.flex-centered{
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      justify-content: space-between;
   }
   .desc{
      font-size: 2rem;
      &.survey{
         color: $red;
      }
      &.article{
         color: $white;
      }
   }
}

.centered-heading{
   text-align: center;
}
//Text Panel

//Logo Slider
.flex-slider{
   width: 100%;
   margin: 40px 0;
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   -webkit-justify-content: center;
   -moz-justify-content: center;
   -ms-justify-content: center;
   -o-justify-content: center;
   justify-content: center;
   i.fa{
      font-size: 64px;
      margin: 0 40px;
      line-height: 74px;
   }
}

.indiv-logo{
   display: inline-block;
   height: 80px;
   width: 80px;
   margin: 0 20px;
   background-color: $grey;
   &.drop{
      @media screen and ($bp-smaller-than-tablet){
         display: none;
      }
   }
}
//Logo Slider

//Content Cards
.cards-container{
   max-width: 1440px;
   margin: 0 auto;
   padding-top: 40px;
   .text-panel{
      padding-top: 40px;
   }
   .row{
      // margin-bottom: 40px;
      &.cards{
         margin-bottom: 40px;
         @media screen and (max-width: 960px){
            margin-bottom: auto;
         }
      }
      [class*='columns-'] {
      	float: left;
      	padding-right: $pad;

         &:nth-of-type(3) {
            padding-right: 0;
         }

      	@media(max-width: 960px) {
      	    width: 100%;
      	    padding: 0;

      	}

      }
   }
}

// .columns-4.cards{
//    padding: 0;
// }

a.event-card{
   display: block;
   position: relative;
   height: 500px;
   // background-image: url(https://source.unsplash.com/random?technology);
   background-size: cover;
   // margin: 40px 10px 0px 10px;
   // &::before{
   //    content: '';
   //    position: absolute;
   //    top: 0;
   //    bottom: 0;
   //    left: 0;
   //    right: 0;
   //    background-color: #4472C4;
   //    opacity: 0;
   //    transition: opacity 0.1s ease-in-out;
   // }
   // &:hover{
   //    &::before{
   //       opacity: 1;
   //    }
   // }
   &:hover{
      text-decoration: none;
      .event-info h4::after{
         right: 0;
      }
   }
}

// a.card-link{
//    &:hover{
//       text-decoration: none;
//    }
// }

.event-info{
   position: absolute;
   background-color: $blue;
   color: $white;
   padding: 20px;
   bottom: 0;
   width: 100%;
   // a{
   //    color: $white;
   //    font-size: 2rem;
   // }
   h4{
      font-size: 3.6rem;
      position: relative;
      &::after{
         content: '';
         height: 4px;
         bottom: -4px;
         left: 0;
         right: 100%;
         position: absolute;
         background-color: $white;
         transition: right 0.25s ease-in-out;
      }
   }
}

.byline{
   font-size: 1.6rem;
   font-weight: 700;
   text-transform: uppercase;
}
//Content Cards

//Text Template
.content-area{
   padding: 80px 40px;
   .left-column{
      img{
         margin: 0 auto;
         display: block;
      }
   }
   p{
      color: #9B9B9B;
   }
}
//Text Template
